.searchBar {
	outline: none;
	height: 40px;
	width: 400px;
	background-color: #f5f5f6;
	border: 1px solid #f5f5f6;
	border-radius: 2px;
	padding: 0px 0px 0px 30px;

	&:focus {
		background-color: #fff;
	}
}
