.navbar {
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 50px;
	background-color: #fff;
	list-style: none;
	padding: 25px;
}

.searchbar {
	@extend .navbar;
	outline: none;
	height: 40px;
	width: 400px;
	background-color: #f5f5f6;
	border: 1px solid #f5f5f6;
	border-radius: 2px;
	padding: 0px 0px 0px 30px;

	&:focus {
		background-color: #fff;
	}
}

.signin-button {
	@extend .navbar;
	height: 30px;
	width: 100px;
	background-color: #87ceeb;
	border: 1px solid #87ceeb;
	border-radius: 2px;
	padding: 5px;

	&:hover {
		background-color: #6ec8ec;
	}
}
