.card {
	display: grid;
	grid-template-rows: max-content 50px 1fr;
	list-style: none;
}

.card-image {
	width: 150px;
	height: 200px;
}

.card-button {
	height: 30px;
	width: 100px;
	padding: 5px;
	background-color: #87ceeb;
	border: 1px solid #87ceeb;
	border-radius: 2px;
	margin: 25px;
}

.list-title {
	font-weight: 500;
	line-height: 1.6;
}
