table {
	border-collapse: collapse;
	border: 2px solid rgb(200, 200, 200);
	letter-spacing: 1px;
	font-size: 0.8rem;
	width: 80%;
	table-layout: auto;
}

th {
	border: 1px solid rgb(190, 190, 190);
	background-color: rgb(235, 235, 235);
	padding: 10px 20px;
}

tr:nth-child(even) td {
	background-color: rgb(250, 250, 250);
}

tr:nth-child(odd) td {
	background-color: rgb(245, 245, 245);
}

caption {
	font-size: xx-large;
	padding: 10px;
}
