.action-card {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 200px;
	width: 250px;
	border: 1px solid black;
	border-radius: 5px;
	margin: 100px 50px;
	background-color: rgb(214, 235, 242);
	box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
	transition: transform 0.2s, box-shadow 0.2s;
}

.action-card:hover {
	transform: translateY(-5px);
	box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
}

.link-style {
	text-decoration: none;
}
