td {
	border: 1px solid rgb(190, 190, 190);
	padding: 10px 20px;
	text-align: center;
}

.truncate-cell {
	max-width: 15em;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.actionButton {
	display: flex;
	// align-items: center;
	// justify-content: center;
	column-gap: 10px;
}

.click {
	cursor: pointer;
}
