.cardList {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
	grid-gap: 20px;
	margin: 50px;

	.card {
		display: grid;
		grid-template-rows: max-content 50px 1fr;
		list-style: none;
	}
	.cardImage {
		width: 150px;
		height: 200px;
	}

	.listTitle {
		font-weight: 500;
		line-height: 1.6;
	}
}
