.dropdown {
	position: relative;
}

.dropdown button {
	cursor: pointer;
	background: none;
	border: none;
	outline: none;
	font-weight: bold;
}

.dropdown-content {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	background-color: white;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 0;
	margin: 0;
	list-style: none;
	z-index: 1;
}

.dropdown.open .dropdown-content {
	display: block;
}

.dropdown-content li {
	// padding: 10px;
	cursor: pointer;
}

.dropdown-content li:hover {
	background-color: #f0f0f0;
}

.dropdown-content a {
	text-decoration: none;
	color: black;
}

.dropdown.active .dropdown-content {
	display: block;
}

.dropdown.open + li {
	margin-top: 100px;
}
