.sidebar {
	background-color: #fff;
	padding: 60px 30px;
	width: 10%;
	height: 100vh;
	box-shadow: 2px 2px 2px #888888;
	margin-right: 30px;
	float: left;
}

li {
	margin-bottom: 50px;
	list-style: none;
}

.link-decoration {
	text-decoration: none;
	color: black;
}
